snippet fea
	Feature: ${1:title}
		As a ${2:role}
		I want to ${3:feature}
		So that ${4:value}
snippet sc
	Scenario: ${1:title}
snippet gi
	Given ${1:condition}
snippet wh
	When ${1:condition}
snippet an
	And ${1:condition}
snippet th
	Then ${1:result}
