snippet helper
	require 'spec_helper'
snippet it
	it '${1}' do
		${2}
	end
snippet specify
	specify '${1}' do
		${2}
	end
snippet describe
	describe '${1}' do
		${2}
	end
snippet context
	context '${1}' do
		${2}
	end
